{% extends 'core/base.html' %}
{% load static %}
{% block tittle %} Tienda {% endblock %}

{% block content %}
{% include 'productos/mensaje_alerta.html' %}


<h1 style="color: red;">TIENDA</h1>



<p><a href="{% url 'create' %}">Agregar</a></p>

<main>
  

    <div class="album py-3 bg-light ">

      <div class="container ">

        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for disco in disco_list %}

          <div class="col ">
            <div class="card shadow-sm ">


              <img class="bd-placeholder-img card-img-top" width="100%"  src="{{disco.image.url}}">
 
              <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></svg> -->
  
              <div class="card-body">
                <p class="card-text">{{disco.album}}</p>
                <p class="card-text">Compositor: {{disco.band}}</p>
                <p class="card-text">Precio: ${{disco.price}} </p>
                <a href="{% url 'update' disco.id %}">Editar</a> | 
                <a href="{% url 'delete' disco.id %}">Borrar</a>

                <!-- <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div> -->
              </div>

            </div>
          </div>

          {% endfor %}

        </div>

      </div>

    </div>
  








  </main>










{% endblock %}


